@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

body{
	margin: 5px;
	background-color: #fff;
	margin: 0px 0px 0px 0px;
}

h1{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	/*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 26.4px;*/
	
}
h2{
	font-family: 'Lato';
	font-weight: 400;	
	
}

p{
	
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 26.4px;
	
}

hr {
	color: #000;
}

.page{
	background-color: transparent;
	max-width: 980px;
	max-height:inherit;	
}

.container-fluid{
	padding-left: 0;
	padding-right: 0;
	max-height: 100%;
}
.container{
	padding-right: 0;
	padding-left: 0;
}

.buttonvm {
  color: #fff;
  font-size: 1.3em;
  font-family: 'Lato';
  font-weight: 300;
  border-radius: 15%;
  background-color: #000;
  opacity: 1.0;
  border-color: #eee;
  border-style: solid;
  border-spacing: 1px;
  border-width: 2px;
  
}

.buttonvm:hover,
.buttonvm.hover {
  background-color: #000;
  opacity: 0.7;
  border-color: #000;
  color: #fff;
  
}

.buttonvm:active,
.buttonvm.active {
  background-color: #fff;
  color: #000;
  font-weight: 300;
  text-shadow: -1px 1px #193047;
}

.homebutton{
	height: 40px;
	width: 50px;
	margin: 10px 5px 15px 5px;
	float: left;
	opacity: 1.0;
	position: fixed;
}
.homebutton:hover{
	opacity: 0.5;
}